@page "/filmdetails"
@using BlazorCRUD.model
@inject IFilmsInterface FilmsService

<h3>FilmDetails</h3>

<div class="row-cols-auto">
    <div class="card">
        <img src="~/favicon.png" />
        <div class="card-body">
            <h4 class="card-title">Expediente Warren, The conjuring</h4>
            <p class="card-text">Dan mucho miedo </p>
            <p class="card-text">Actua firulais  "Ed Warren","actor":{"id":1,"name":"Patrick Wilson","description":"Patrick Joseph Wilson es un actor y cantante estadounidense.​ Desde 1996 ha participado en varios musicales y ha protagonizado varias obras teatrales en el circuito de Broadway.​​Es dos veces nominado al premio Tony por sus papeles en The Full Monty y Oklahoma!."</p>
        </div>
    </div>
</div>

<div class="row">
    @foreach(var item in Films)
    {
        <div class="col-4">
            <div class="card">
                <img src="@item.PosterUrl"/>
                <div class="card-body">
                    <h4 class="card-title">@item.Name</h4>
                    <p class="card-text">@item.Gendre </p>
                    <p class="card-text">@item.Character</p>
                </div>
            </div>
            </div>
    }    
</div>

@if (!string.IsNullOrEmpty(Error))
{
    <p>Error</p>
}

@code {
    public List<FilmItem> Films { get; set; }
    public string Error { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Films = await FilmsService.GetFilms();
        }
        catch (Exception e)
        {
            Error = e.Message;
        }
    }


}
