@page "/"

<PageTitle>CinemApp</PageTitle>

<h1>CINEMAPP</h1>
<h2>“Tu sitio favorito, para encontrar tus films favoritos”</h2>

@code{
    public List<FilmsItem> Films {get; set; }
    public string Error { get; set; }
}
