#headerApp {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.title {
    display: flex;
    flex-direction:column;
    justify-content: center;
    height: 3.5rem;
    align-items: center;
    margin: 4rem;
}

.hero-image {
    padding: 2rem;
}



form {
    padding: 1rem;
    width: auto;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    border-radius: 20px;
    font-family: 'Murecho';
}

#input{
    width: 20rem;
}

.btn-outline-warning{
    margin: 1rem;
}
