@page "/"
@using BlazorCRUD.model;

<PageTitle>CinemApp</PageTitle>

<div class="title">
    <img src="../wwwroot/pop-corn_image.svg" />
<h1>CINEMAPP</h1><br />

<h2>“Tu sitio favorito, para encontrar tus films favoritos”</h2>
</div>

<form action="/search" method="GET">
    <input id="input" type="search" placeholder="Buscar en CinemApp" />

    <button class="btn-outline-warning">Search</button>
</form>

@code{

}