@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div>
        <img src="Assets/pop-corn_image.svg" />
    </div>

    <main>
            @Body
    </main>
</div>
